<div class="footer-subscribe-wrapper" data-source-url="{{skin url='images/bg_newsletter.jpg'}}" style="background-position: 50% 67.5944%; width: 1294px; margin-left: -647px; left: 50%;">
    <div class="container">
        <div class="footer-subscribe">
            <div class="subscribe-title">
                <h2>Subscribe to us!</h2>
                <h3>Enter Your email address to join our mailing list and keep yourself update.</h3>
            </div>
            <form action="https://ld-magento.template-help.com/magento_58960/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                <div class="subscribe-content">
                    <div class="input-box">
                        <input type="email" spellcheck="false" name="email" id="newsletter" placeholder="Enter your e-mail" title="Enter your e-mail"
                            class="input-text required-entry validate-email" autocapitalize="off" autocorrect="off">
                    </div>
                    <div class="actions">
                        <button type="submit" title="Subscribe" class="button"><span><span>Submit</span></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer">
                    <p id="back-top" style="display: none;"><a href="#top"><span></span></a> </p>
                    <div class="footer-cols-wrapper">
                        <div class="footer-col">
                            <h4>Information</h4>
                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/about">About Us</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/customer-service">Customer Service</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/template-settings">Template Settings</a></li>
                                    <li class="last privacy"><a href="https://ld-magento.template-help.com/magento_58960/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                                </ul>
                                <div class="links">
                                    <ul>
                                        <li class="first"><a href="https://ld-magento.template-help.com/magento_58960/catalog/seo_sitemap/category/"
                                                title="Site Map">Site Map</a></li>
                                        <li><a href="https://ld-magento.template-help.com/magento_58960/catalogsearch/term/popular/"
                                                title="Search Terms">Search Terms</a></li>
                                        <li><a href="https://ld-magento.template-help.com/magento_58960/catalogsearch/advanced/"
                                                title="Advanced Search">Advanced Search</a></li>
                                        <li><a href="https://ld-magento.template-help.com/magento_58960/sales/guest/form/" title="Orders and Returns">Orders and Returns</a></li>
                                        <li class=" last"><a href="https://ld-magento.template-help.com/magento_58960/contacts/" title="Contact Us">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-col">
                            <h4>Why buy from us</h4>
                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="#">Shipping &amp; Returns</a></li>
                                    <li><a href="#">Secure Shopping</a></li>
                                    <li><a href="#">International Shipping</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                    <li><a href="#">Group Sales</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col">
                            <h4>My account</h4>
                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/customer/account/login/">Sign In</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/checkout/cart/">View Cart</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/wishlist/">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col last">
                            <h4>Contact</h4>
                            <div class="footer-col-content">
                                <div class="footer_contacts">
                                    <p>
                                        <strong>Farm</strong><br> California, USA<br> +844 123 456 78<br>
                                        <a href="mailto:farm@demolink.org">farm@demolink.org</a>
                                    </p>
                                    <p>
                                        <strong>Store</strong><br> No 1123, Sky Tower Street, New York,<br> +844 123 456
                                        78<br>
                                        <a href="mailto:store@demolink.org">store@demolink.org</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <address>©
                        <script type="text/javascript" data-footer-js-skip="true">
                                                                                                                                                             var mdate = new Date(); document.write(mdate.getFullYear());
                        </script>2017 Magento Demo Store. All Rights Reserved.</address>
                </div>
            </div>
        </div>
    </div>
</div>