<div class="footer-subscribe-wrapper" data-source-url="{{skin url='images/bg_newsletter.jpg'}}" style="background-position: 50% 67.5944%; width: 1294px; margin-left: -647px; left: 50%;">
    <div class="container">
        <div class="footer-subscribe">
            <div class="subscribe-title">
                <h2>{{footer.subscribe_title}}</h2>
                <h3>{{footer.subscribe_info}}</h3>
            </div>
            <form action="https://ld-magento.template-help.com/magento_58960/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                <div class="subscribe-content">
                    <div class="input-box">
                        <input type="email" spellcheck="false" name="email" id="newsletter" placeholder="Enter your e-mail" title="Enter your e-mail"
                            class="input-text required-entry validate-email" autocapitalize="off" autocorrect="off">
                    </div>
                    <div class="actions">
                        <button type="submit" title="Subscribe" class="button"><span><span>{{footer.submit}}</span></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer">
                    <p id="back-top" style="display: none;"><a href="#top"><span></span></a> </p>
                    <div class="footer-cols-wrapper">
                        <div class="footer-col">
                            <h4>{{footer.section_1_title}}</h4>
                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/about">{{footer.section_1_item_1}}</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/customer-service">{{footer.section_1_item_2}}</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/template-settings">{{footer.section_1_item_3}}</a></li>
                                    <li class="last privacy"><a href="https://ld-magento.template-help.com/magento_58960/privacy-policy-cookie-restriction-mode">{{footer.section_1_item_4}}</a></li>
                                </ul>
                                <div class="links">
                                    <ul>
                                        <li class="first"><a href="https://ld-magento.template-help.com/magento_58960/catalog/seo_sitemap/category/"
                                                title="Site Map">{{footer.section_1_item_5}}</a></li>
                                        <li><a href="https://ld-magento.template-help.com/magento_58960/catalogsearch/term/popular/"
                                                title="Search Terms">S{{footer.section_1_item_6}}</a></li>
                                        <li><a href="https://ld-magento.template-help.com/magento_58960/catalogsearch/advanced/"
                                                title="Advanced Search">{{footer.section_1_item_7}}</a></li>
                                        <li><a href="https://ld-magento.template-help.com/magento_58960/sales/guest/form/" title="Orders and Returns">{{footer.section_1_item_8}}</a></li>
                                        <li class=" last"><a href="https://ld-magento.template-help.com/magento_58960/contacts/" title="Contact Us">{{footer.section_1_item_9}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-col">
                            <h4>{{footer.section_2_title}}</h4>
                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="#">{{footer.section_2_item_1}}</a></li>
                                    <li><a href="#">{{footer.section_2_item_2}}</a></li>
                                    <li><a href="#">{{footer.section_2_item_3}}</a></li>
                                    <li><a href="#">{{footer.section_2_item_4}}</a></li>
                                    <li><a href="#">{{footer.section_2_item_5}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col">
                            <h4>{{footer.section_3_title}}</h4>
                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/customer/account/login/">{{footer.section_3_item_1}}</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/checkout/cart/">{{footer.section_3_item_2}}</a></li>
                                    <li><a href="https://ld-magento.template-help.com/magento_58960/wishlist/">{{footer.section_3_item_3}}</a></li>
                                    <li><a href="#">{{footer.section_3_item_4}}</a></li>
                                    <li><a href="#">{{footer.section_3_item_5}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col last">
                            <h4>{{footer.contact_section_title}}</h4>
                            <div class="footer-col-content">
                                <div class="footer_contacts">
                                    <p>
                                        <strong>{{footer.contact_subSection_1_title}}</strong><br> {{footer.contact_subSection_1_item_1}}<br> {{footer.contact_subSection_1_item_2}}<br>
                                        <a href="mailto:farm@demolink.org">{{footer.contact_subSection_1_item_3}}</a>
                                    </p>
                                    <p>
                                        <strong>{{footer.contact_subSection_2_title}}</strong><br> {{footer.contact_subSection_2_item_1}}<br> {{footer.contact_subSection_2_item_2}}
                                        <br>
                                        <a href="mailto:store@demolink.org">{{footer.contact_subSection_2_item_3}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <address>{{footer.copyright_symbol}}
                        <script type="text/javascript" data-footer-js-skip="true">
                                                                                                                                                             var mdate = new Date(); document.write(mdate.getFullYear());
                        </script>{{footer.copyright_text}}</address>
                </div>
            </div>
        </div>
    </div>
</div>